.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10% 0;
}

@media only screen and (min-width: 1440px) {
  .layout {
    display: grid;
    grid-template-columns: repeat(4, 255px);
    grid-template-rows: repeat(2, 262px);
    grid-gap: 30px;
    margin-bottom: 5%;
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
    .section {
      width: auto;
      max-width: none;
      &--daniel {
        grid-area: daniel;
      }
      &--jonathan {
        grid-area: jonathan;
      }
      &--jeanette {
        grid-area: jeanette;
      }

      &--patrick {
        grid-area: patrick;
      }
      &--kira {
        grid-area: kira;
      }
    }
  }
}
