$Purple: hsl(263, 55%, 52%);
$DarkGray: hsl(217, 19%, 35%);
$Black: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);
$LightGray: hsl(0, 0%, 81%);
$LightPur: #a775f1;
//color part
.section {
  border-radius: 8px;
  width: 100%;
  max-width: 265px;
  padding: 26px 32px 32px;
  margin-top: 24px;
  box-shadow: 40px 60px 50px -47px rgba($color: #48556a, $alpha: 0.25);
  &--daniel {
    background-color: $Purple;
    z-index: 1;
    .section__header {
      color: $White;
      .section__headshot {
        border: 2px solid $LightPur;
      }
    }
    .section__summary {
      color: $White;
      margin-bottom: 40px;
    }
    .section__content {
      color: $LightGray;
    }
  }
  &--jeanette {
    background-color: $White;
    color: $DarkGray;
  }
  &--jonathan {
    background-color: $DarkGray;
    color: $White;
  }
  &--kira {
    background-color: $White;
    color: $DarkGray;
  }
  &--patrick {
    background-color: $Black;
    .section__header {
      color: $White;
      .section__headshot {
        border: 2px solid $LightPur;
      }
    }
    .section__summary {
      color: $LightGray;
    }
    .section__content {
      color: $White;
    }
  }
  &--with-bg-img {
    background-image: url("../../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 90% 3%;
    z-index: 0;
  }
  &__headshot {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    overflow: hidden;
    margin-right: 17px;
  }
  &__headshot-image {
    width: inherit;
    height: inherit;
  }
  &__header {
    display: flex;
  }
  &__person {
    display: flex;
    flex-direction: column;
  }
  &__name {
    display: block;
    line-height: 13px;
  }
  &__cert {
    font-size: 11px;
    opacity: 0.5;
  }
  &__summary {
    font-size: 20px;
    margin: 18px 0px;
  }
  &__content {
    opacity: 0.7;
    line-height: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .section {
    margin-top: 0px;
    &--daniel {
      .section__summary {
        margin-bottom: 16px;
      }
    }

    &--with-bg-img {
      background-position: 90% 3%;
    }
  }
}
