$Purple: hsl(263, 55%, 52%);
$DarkGray: hsl(217, 19%, 35%);
$Black: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);
$LightGray: hsl(0, 0%, 81%);
$LightPur: #a775f1;
//color part
#daniel.section-border {
  background-color: $Purple;
  .header {
    .text-field {
      .name {
        color: $White;
      }
      .cert {
        color: $White;
      }
    }
  }
  .summary {
    color: $White;
    margin-bottom: 40px;
  }
  .content {
    color: $LightGray;
  }
}
#jonathan.section-border {
  background-color: $DarkGray;
  color: $White;
}

#jeanette.section-border {
  background-color: $White;
  color: $DarkGray;
}

#patrick.section-border {
  background-color: $Black;
  .header {
    .text-field {
      .name {
        color: $White;
      }
      .cert {
        color: $White;
      }
    }
  }
  .summary {
    color: $LightGray;
  }
  .content {
    color: $White;
  }
}
#kira.section-border {
  background-color: $White;
  color: $DarkGray;
}

.purple {
  border: 2px solid $LightPur;
}

.section-border {
  border-radius: 8px;
  width: 100%;
  max-width: 327px;
  margin-top: 24px;
  box-shadow: 40px 60px 50px -47px rgba($color: #48556A, $alpha: 0.25);
  .box {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 26px 32px;
    max-width: 263px;
    .header {
      display: flex;
      margin-bottom: 18px;
      .headshot {
        border-radius: 50%;
        width: 28px;
        height: 28px;
        overflow: hidden;
        margin-right: 17px;
        img {
          width: inherit;
          height: inherit;
        }
      }
      .text-field {
        .name {
          font-size: 1rem;
        }
        .cert {
          font-size: 0.85rem;
          opacity: 0.5;
        }
      }
    }
    .summary {
      font-size: 1.54rem;
      margin-bottom: 16px;
      line-height: 1.25;
      max-inline-size: 45ch;
    }
    .content {
      opacity: 0.7;
      font-size: 1rem;
      line-height: 18px;
      max-inline-size: 52ch;
    }
  }
}

@media only screen and (min-width: 1440px) {
  #daniel.section-border {
    .summary {
      margin-bottom: 16px;
    }
  }
  #kira.section-border {
    height: 572px;
  }
  .section-border {
    margin-top: 0px;
    max-width: 540px;
    height: 266px;
    .box {
      max-width: none;

      .summary {
        max-inline-size: 45ch;
      }
      .content {
        max-inline-size: 74ch;
      }
    }
  }
}
